
    <!--Last half of the page details -->
    <div class="third-half" style="background-color: #c4e2f9; border: 3px solid white;">

        <div class=" copyright " style="text-align: left;padding: 20px;display:inline-block;margin-right:10px;">

            <a href="# " class="fa fa-copyright " style=" padding: 20px;font-size: 30px;width: 30px;text-align: center;text-decoration: none;border-radius: 50%; "></a>

        </div>

        <div class="copy " style="font-size: 20px;display:inline-block;font-family: Lucida Console, Courier New, monospace; ">
            <p>2022 Tech Blogs</p>
        </div>



        <div class="icons " style="text-align: right;padding-right: 3rem;display:inline-block;padding-left: 3rem; ">
            <a href="# " class="fa fa-facebook " style=" padding: 20px;font-size: 30px;width: 30px;text-align: center;text-decoration: none;border-radius: 50%; "></a>
            <a href="# " class="fa fa-instagram " style=" padding: 20px;font-size: 30px;width: 30px;text-align: center;text-decoration: none;border-radius: 50%; "></a>
            <a href="# " class="fa fa-linkedin " style=" padding: 20px;font-size: 30px;width: 30px;text-align: center;text-decoration: none;border-radius: 50%; "></a>
            <a href="# " class="fa fa-twitter " style=" padding: 20px;font-size: 30px;width: 30px;text-align: center;text-decoration: none;border-radius: 50%; "></a>
        </div>




    </div>
</body>

</html>