<%- include('../_header') %>
    <!--Middle half of the page details after Navbar-->
    <div class="second-half" style="background-color:#d1edf2 ; border: 3px solid white;padding-top: 7rem;padding-bottom: 13rem;">

        <div class="container">
            <h1 class="mb-4"> New Article</h1>
            <form action="/articles" method="post">
                <%- include('_form_fields') %>
            </form>
        </div>
    </div>

<%- include('../_footer') %>